<div class="sidebar">
    <div class="sidebar-logo">
        <img src="../../../assets/logo-text-inverted.webp" alt="movoo-clone logo" height="24">
    </div>
    <div class="sidebar-explore">
        <h4>Explore</h4>
        <div class="submenu">
            <a routerLink="/movies/explore" class="submenu-item">
                <i class="fi fi-sr-film"></i>&ensp;Movies
            </a>
            <a routerLink="..." class="submenu-item">
                <i class="fi fi-sr-apps"></i>&ensp;Watchlists
            </a>
        </div>
    </div>
    <div class="sidebar-movies">
        <h4>Movies</h4>
        <div class="submenu">
            <a routerLink="/movies/now-playing" class="submenu-item">
                <i class="fi fi-sr-clock-seven"></i>&ensp;Now playing
            </a>
            <a routerLink="/movies/upcoming" class="submenu-item">
                <i class="fi fi-sr-calendar-clock"></i>&ensp;Upcoming
            </a>
            <a routerLink="/movies/popular" class="submenu-item">
                <i class="fi fi-sr-chat-arrow-grow"></i>&ensp;Popular
            </a>
            <a routerLink="/movies/top-rated" class="submenu-item">
                <i class="fi fi-sr-star"></i>&ensp;Top rated
            </a>
            <a routerLink="/movies/genres" class="submenu-item">
                <i class="fi fi-sr-video-camera-alt"></i>&ensp;Genres
            </a>
        </div>
    </div>
    <div class="sidebar-footer">
        <div class="footer-social">
            <a href="https://github.com/Watojo78/Movoo-clone">
                <i class="fi fi-brands-github"></i>
            </a>
            <a routerLink="">
                <i class="fi fi-rr-mug-hot-alt"></i>
            </a>
            <a routerLink="">
                <i class="fi fi-brands-linkedin"></i>
            </a>
        </div>
        <div class="footer-copyright">
            <i class="fi fi-sr-copyright"></i>&ensp;2024
        </div>
    </div>
</div>