.sidebar{
    display: flex;
    height: 100%;
    padding: 1.4rem 0;
    row-gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    &-logo, &-explore, &-movies{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &-logo{
        padding: 0 1.26rem;
        margin-bottom: 1.4rem;
    }

    &-explore, &-movies{
        row-gap: 1rem;
    }

    &-footer{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        right: 84%;
        width: auto;
        padding: .35rem 1.26rem;
        background-color: rgb(23, 23, 25);
        border-right: 1px solid rgb(92, 91, 91);
    }
}


.footer{
    &-social, &-copyright{
        display: flex;
    }

    &-social{
        column-gap: .7rem;
        a{
            color: white;
        }
    }

    &-copyright{
        justify-content: center;
    }
}

.submenu{
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    width: 100%;

    & a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 1.6rem;
        width: 100%;
        transition: .2s ease;
        color: rgba(255, 255, 255, 0.518);

        &::before{
            content: '';
            width: .28rem;
            height: 100%;
            margin-right: .7rem;
            background-color: rgba(255, 255, 255, 0);
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            transition: .2s ease;
        }

        &:focus{
            font-weight: 700;
            color: white;
        }

        &:focus::before{
            background-color: rgb(255, 255, 255);
        }
    }
}

h4{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 1.4rem;
}

a,.fi{
    display: flex;
    align-items: center;
}

a{
    font-size: 14px;
    column-gap: .56rem;
    transition: .3s ease-in-out;
}

.fi{
    font-size: 15px;
}

