.movoo{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 16% 84%;

    &-content{
        height: 100%;
        flex-direction: column;
        max-height: 100%;
        overflow-y: scroll;
        background-color: rgb(33, 32, 35);
    }
}

sidebar{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid rgb(92, 91, 91);
}

.header{
    display: flex;
    width: 84%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(13, 13, 15);
    position: fixed;
    z-index: 100;
}

search{
    width: 100%;
}

.content-dynamic{
    height: 100%;
    width: 100%;
}


