// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movoo-clone-primary: mat.define-palette(mat.$indigo-palette);
$movoo-clone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movoo-clone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movoo-clone-theme: mat.define-light-theme((color: (primary: $movoo-clone-primary,
                accent: $movoo-clone-accent,
                warn: $movoo-clone-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($movoo-clone-theme);

/* Main fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */

* {
    font-family: Poppins, "Segoe UI";
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    background-color: rgb(23, 23, 25);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    z-index: 100 !important;
    width: 4.9px;
    background-color: rgb(23, 23, 25);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(23, 23, 25);
}

/* Handle */
::-webkit-scrollbar-thumb {
    z-index: 100 !important;
    border-radius: 24px;
    margin: .24rem !important;
    border: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgb(23, 23, 25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(193, 184, 184);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 35px;
}

p {
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 15px;
    line-height: 28px;
}

li {
    list-style-type: none;
}

ul,
ol {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.illus img {
    max-width: 100%;
    height: auto;
}


a {
    text-decoration: none;
}

.mat-mdc-icon-button {
    padding: 7px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}